html{
    font-size: 62.5%;
    
}
body{
    font-family: marcellus;
    margin: 0;
    background: rgb(1, 12, 128)
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}


.logo svg{
    width: 30%;
    height: auto;
}


.direc-sec svg{
    width: 2.3%;
    height: auto;
    transition: transform .6s;
}

.direc-sec:hover svg{
    transform: translateX(18px);
}

.help:hover{
    text-decoration: underline;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 13px;
    padding: 15px;
    margin-top: 12px;
    
    
}

nav ul li a{
    color: white;
    position: relative;
    text-decoration: none;
}

 a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
    height: 2.5px;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.btn1:hover::after{
    transform: scale(1);
}

.btn2:hover::after{
    transform: scale(1);
}

.btn3:hover::after{
    transform: scale(1);
}

.btn4:hover::after{
    transform: scale(1);
}

#hero-video{
    padding-left: 30px;
    height: 350px;

}

main{
    display: flex !important;
    margin-left: auto;
    margin-right: auto;
    gap: 8em;

}



main.left-col{
    width: 800px;
    float: left;

}

main.right-col{
    width: 600px;
    float: right;
 
}

.right-col{
    color: #ffff;
    position: relative;
}

.heading{
    margin: 1px;
    font-size: 40px;
}

.sub-head{
    font-size: 15px;
    
}

.main-cta{
    position: absolute;
    color: white;
   font-size: 30px;
   border: 5px solid white;
   border-radius: 100px;
   width: 200px;
   text-decoration: none;
   text-align: center;
   padding: 22px;
   margin-left: 200px;
   margin-top: 22px;
   background: transparent;
}
.main-cta:hover{
    border: 5px solid white;
    background: #ffff;
    transition: 1.5s;
    color: rgb(1, 12, 128);
}



footer{
    background-color: #ffff;
}

.icons{
    font-size: 25px;
    padding: 12px;
    width: 100px;
    text-align: center;
    color: #ffff;
    width: 200px;
    margin-left: 400px;
    padding-left: 200px;

}

.icons>*{
    padding: 4px;
    cursor: pointer;
}

.separator-smal>*l{
    color: red;
    height: 50px;
    width: 1000px
    
}

.copyright{
    padding-left: 550px;
    color: #ffff;
    font-size: 14px;
}

.end{
    background: rgb(1, 12, 128);
}

.web{
    display: flex;
    list-style-type: none;
    gap: 5px;
    text-decoration: underline;
    padding-left: 580px;
    font-size: 14px;
    color: #fff;
    background: rgb(1, 12, 128);
    cursor: pointer;
}

.social{
    background: rgb(1, 12, 128);
}

.footer-sec>*{
    display: flex !important;
    flex-direction: row !important;
    gap: 14px;
    
}

#footer-video{
    width: 100%;
    height: 60vh;
}

.footlog{
   margin-left: 120px;
}
.g-wrapper{
    display: flex !important;
    gap: 10em;
    flex-direction: row !important;
    position: relative;
    padding-right: 80px;
    
}

.a-wrapper{
    line-height: 20px;
}
.b-wrapper

.c-wrapper{
    line-height: 17px;
    
}
 /* to be used after importing icons
.separator{
    color: rgba(245,245,245,0.65)!important;
    border-top-width: 1px!important;
    border-color:#ffff!important;
    border-top-style: solid!important
}
*/

.head{
    font-size: 26px;
}

.abt-quck{
    font-size: 14px;
    list-style-type: none;
    line-height: 20px;
}
.head2{
    font-size: 20px;
}
.pita{
    font-size: 14px;
}


    

.card-details{
    background: white;
    height: 50%;
    box-shadow: rgb(217, 216, 216);
    

}


 .product-title{
    text-decoration: none;
    font-size: 30px;
    color: rgb(1, 12, 128);
}

.help{
    font-size: 30px;
}

.product-info{
    font-size: 15px;
    color: black;
    
}

.help{
    line-height: 80px;
    position: relative;
    
}
.help-gra{
    height: 160px;
    position: absolute;
    top: 108%;
    left: 17%;
}

.direc-sec{
    cursor: pointer;
}



.abt-links{
    position: relative;
    display: flex;
    padding-top: 70px;
    flex-direction: row;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background: rgb(1, 12, 128);
    
    
}

.line{
    position: absolute;
    width: 600px;
    left: 30%;
    top: 100%;
    background: #ffff;
    height: 1.5px;
}


.abt-images{
    width: 200px;
    height: 150px;
    padding-right: 40px;
    

}




.wrapper{
   position: relative;
    z-index: 999;
    background: rgb(1, 12, 128);
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal{
    from{
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
/*
main{
    animation: growIn 2s cubic-bezier(0.075,0.82,0.165,1)forward;
    transform: scale(.4);
}
*/


 